* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

body {
  width: 100vw;
  height: 80vh; }

header {
  width: 100%; }

.map {
  position: relative; }
  .map svg {
    position: absolute;
    transform: scale(0.3);
    width: 320vw;
    height: 80vh;
    top: -200px;
    left: -350px; }
    @media (min-width: 375px) {
      .map svg {
        transform: scale(0.35);
        left: -320px;
        width: 270vw; } }
    @media (min-width: 425px) {
      .map svg {
        transform: scale(0.4);
        left: -300px;
        width: 240vw; } }

.info {
  position: absolute;
  top: 350px;
  width: 100%; }
  .info img {
    width: 50%; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
