@import "variables";
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body {
    background-image: url("../images/Background-Image-NP16.png");
    min-height: 100%;
    width: 100%;
}

header {
    width: 100%;
    @include third {
        font-size: 30px;
    }
    @include fifth {
        font-size: 45px;
    }
}

.map {
    position: relative;
    width: 100%;
    height: 100%;
    svg {
        position: absolute;
        transform: scale(.35);
        width: 280vw;
        height: 100vh;
        top: -200px;
        left: -325px;
        @include first {
            left: -320px;
            width: 270vw;
        }
        @include second {
            transform: scale(.4);
            left: -300px;
            width: 240vw;
        }
        @include third {
            transform: scale(.65);
            top: -125px;
            left: -122px;
            width: 132vw;
            height: 80vh;
        }
        @include fourth {
            transform: scale(.85);
            left: 0;
            top: -65px;
            width: 100vw;
        }
        @include fifth {
            transform: scale(1);
            top: 80px;
            left: 25%;
            width: 70vw;
            height: 70vh;
        }
        @include sixth {
            transform: scale(1.2);
            top: 80px;
            left: 30%;
            width: 55vw;
            height: 70vh;
        }
    }
}

.info {
    position: absolute;
    top: 295px;
    width: 100%;
    left: 0;
    @include first {
        top: 350px;
    }
    @include third {
        top: 490px;
        font-size: 14px;
    }
    @include fourth {
        top: 580px;
        left: 0;
        font-size: 13px;
    }
    @include fifth {
        width: 25%;
        top: 200px;
        left: 0;
        font-size: 20px;
    }
    h3 {
        @include fifth {
            text-align: left;
            margin-left: 50px;
        }
    }
    img {
        width: 20%;
        margin-top: 5px;
        @include third {
            margin-top: 10px;
        }
        @include fourth {
            width: 12%;
        }
        @include fifth {
            width: 50%;
        }
    }
    input:nth-of-type(1) {
        border-radius: 5px;
        color: gray;
        &:focus {
            border: 3px solid #555;
        }
        &:invalid {
            background-color: pink;
        }
        @include fifth {
            height: 25px;
            font-size: 20px;
        }
    }
    input.placeholder {
        &::placeholder {
            color: red;
        }
    }
    input:nth-of-type(2) {
        background-color: #fff;
        border-radius: 5px;
        @include fifth {
            height: 28px;
            width: 100px;
            font-size: 20px;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    @include third {
        bottom: 0;
    }
    @include fifth {
        bottom: 0;
    }
    h3 {
        a {
            text-decoration: none;
            color: #000;
            &:hover {
                color: #f00;
                text-decoration: underline;
                text-decoration-color: #f00;
            }
        }
    }
}