@import "variables";
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body {
    width: 100vw;
    height: 80vh;
    // background-image: url("/images/Background-Image-NP16.png");
}

header {
    width: 100%;
}

.map {
    position: relative;
    svg {
        position: absolute;
        transform: scale(0.3);
        width: 320vw;
        height: 80vh;
        top: -200px;
        left: -350px;
        @include first {
            transform: scale(0.35);
            left: -320px;
            width: 270vw;
        }
        @include second {
            transform: scale(0.4);
            left: -300px;
            width: 240vw;
        }
    }
}

.info {
    position: absolute;
    top: 350px;
    width: 100%;
    img {
        width: 50%;
        // box-shadow: 0 0 3px 3px gray;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}