@import "variables";
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

body {
    width: 100vw;
    height: 80vh;
    background-image: url("/images/Background-Image-NP16.png");
}

header {
    width: 100%;
    @include third {
        font-size: 30px;
    }
    @include fourth {
        font-size: 45px;
    }
}

.map {
    position: relative;
    svg {
        position: absolute;
        transform: scale(0.3);
        width: 320vw;
        height: 80vh;
        top: -200px;
        left: -350px;
        @include first {
            transform: scale(0.35);
            left: -320px;
            width: 270vw;
        }
        @include second {
            transform: scale(0.4);
            left: -300px;
            width: 240vw;
        }
        @include third {
            transform: scale(0.75);
            top: -65px;
            left: -122px;
            width: 132vw;
        }
        @include fourth {
            transform: scale(1);
            top: 20px;
            left: 25%;
            width: 70vw;
        }
    }
}

.info {
    position: absolute;
    top: 350px;
    width: 100%;
    left: 0;
    @include third {
        top: 590px;
    }
    @include fourth {
        top: 200px;
        left: -550px;
    }
    img {
        width: 50%;
        // box-shadow: 0 0 3px 3px gray;
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}